@import "../../../node_modules/bulma/bulma.scss"
@import "../../../node_modules/bulma/sass/utilities/derived-variables.scss"
@import "../../../node_modules/bulma/sass/utilities/initial-variables.scss"

a
    text-decoration: underline

a.button
    text-decoration: none

.button.full-width
    width: 100%

.medium-thumbnail
    height: 100px

$large-border-radius: 20pt
$hireme-button-width: 50%
$hireme-button-height: 200pt
$hireme-text-margin: 7pt

$hireme-left-bgcolor: desaturate(darken($red, 20), 40)
$hireme-right-bgcolor: desaturate(darken($purple, 20), 40)

.fixed-height-100
    height: 100px

.static-card
    padding: 4pt
    margin: 4pt
    height: 350pt
    box-shadow: 0.3em 0.3em 1em $shadow-color
    .card-image
        height: 150pt
        overflow: hidden
    .static-card-content
        height: 150pt
        padding: 5pt
    .static-card-action
        border-top: 1px solid gray
        padding-top: 10pt


$step-size: 50pt
$hazy-blue: desaturate(darken($blue, 10), 40)

div.process
    display: table
    .step
        display: table-row
        .track
            position: relative
            border-left: 3px solid gray
        .track::after
            content: ""
            background-color: lightgray
            position: absolute
            width: 5px
            left: 33px
            top: 0
            bottom: 10px
            z-index: -1
            display: flex
        div:
            display: table-cell
        .number
            width: $step-size
            height: $step-size
            background-color: $hazy-blue
            border-radius: $step-size
            font-size: 200%
            text-align: center
            vertical-align: middle
            padding-top: 10pt
            color: $white
        .description, .number
            margin: 20pt
        .description h3
            font-weight: bold
            font-size: 150%
        .description p
            color: $grey
            font-size: 100%

.explainer
    width: 75%
    div.explainer-graphic
        dislpay: flex
    div
        text-align: center
        p
            padding: 2em
            text-align: justify
        width: 100%
        svg
            width: 15em
            height: 15em

.hire-call-to-action
    botton: 10em

.footer
    .column
        .brand-link
            padding: 0.2em
            height: 2em
            color: white
            svg
                width: 1.5em
                height: 1.5em
            svg, span
                vertical-align: middle
                color: white

.footer
   margin-top: 10em
   .column
        h2, h3
            margin-bottom: .1em
        h2
            border-bottom: 1px solid gray
        h3
            padding: .5em 0em
            font-weight: bold
            font-style: italic

.faqs
    margin: 1em
    width: 60em
    h4
        font-size: 120%
        font-weight: bold
    h4,p
        padding: .5em

.navbar
    border-top: 1px solid white
    margin: 1em
    .navbar-menu
        .navbar-item
            font-style: italic

blockquote
    p.quote
        padding: 1em
        color: gray
        font-style: italic
    p.author
        font-weight: bold
        padding: 1em