[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
invoke = "*"
pelican = {extras = ["markdown"], version = "*"}
livereload = "*"
ipdb = "*"
rss-parser = "*"
ghp-import = "*"
markdown = "*"

[dev-packages]

[requires]
python_version = "3.10"
