{% layout "./skeleton.liquid" %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="/static/dgtstatic/style/index.css" />
{% endblock %}

{% block meta_description %}{% block meta_description_prefix %}{% endblock %}Jordan Hewitt is a Software App Developer and Tech Lead in Portland, Oregon with over 12 years experience.{% block meta_description_suffix %}{% endblock %}{% endblock %}

{% block title %}{% block page_title %}{% endblock %}Jordan Hewitt | Full Stack Lead{% endblock %}

{% block header %}
<div class="container has-text-centered">
    <h1 class="title is-size-1 p-4">Jordan Hewitt</h1>
    <h1 class="subtitle is-size-2 is-italic p-4">Tech Creation Lead in Full Stack Software Development</h1>
</div>
{% endblock %}

{% block navigation %}
{% include "./inc/nav.liquid" %}
{% endblock %}

{% block content %}
<main class="main container">
{% block main_content %}{% endblock %}
</main>
{% endblock %}

{% block footer %}
{% include "./inc/footer.liquid" %}
{% endblock %}

{% block extra_scripts %}
<script type="text/javascript" src="/static/script/burger.js" ></script>
{% endblock %}