<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    {% block styles %}  {% endblock %}
</head>
<body>
    <header>
        {% block header %}{% endblock %}
        <nav>
            {% block navigation %}{% endblock %}
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        {% block footer %}{% endblock %}
    </footer>
</body>

    {% block extra_scripts %}{% endblock %}
</html>
