<div class="row">

  {% for item in feed.items %}

  {% if 5 is divisibleby loop.index %}
</div>
<div class="row">
  {% endif %}

  <div class="col-md-3 p-2">
    <div class="card shadow-sm putty-card">
      <img src="{{ item.image }}" class="card-img-top" />
      <div class="card-header">
        {{ item.when("%B %d, %Y") }}
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ item.title }}</h5>
        {% if item.description %}
        <p class='card-text'>{{ item.description }}</p>
        {% elif item.encoded %}
        <p class='card-text'>{{ item.encoded }}</p>
        {% endif %}
      </div>
      <div class="card-footer">
        <a class="btn" href="{{ item.link }}">Read</a>
      </div>
    </div>
  </div>

  {% endfor %}
</div>