canvas {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  bottom: 0pt;
  cursor: url("../images/pencil.svg"), pointer;
}

#page-menu ul li {
  display: inline;
  float: left;
}

.foreground {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 25%;
}

.foreground {
  margin: 30% 8% 0% 8%;
}

.foreground nav {
  margin: 0% -8%;
}

.foreground footer {
  margin: 5% -8%;
  padding: 4% 10%;
}

.page-content {
  background-color: rgba(255, 255, 255, 0.5);
}

main {
  padding-top: 5%;
  width: 90%;
}

.product {
  top: 0pt;
}

img.product-image {
  max-width: 80%;
  margin: auto;
  padding: auto;
}

.product-image {
  height: 150pt !important;
  vertical-align: top;
  padding: 5pt;
}

.product .btn {
  margin: 10pt;
}

.feed-item {
  border: 1px solid lightgray;
  padding: 10pt;
  margin: 5pt;
  border-radius: 5pt;
}

.item-title {
  font-size: 100%;
}

.item-date {
  font-size: 80%;
  color: gray;
  font-style: italic;
}

blockquote {
  font-style: italic;
  font-family: Georgia, serif;
  width: 80%;
  padding: 10pt;
  background-color: aliceblue;
  border: 1px solid black;
  margin-left: 5%;
}

hr {
  width: 10%;
}

blockquote>ul:last-child>li:nth-child(1) {
  list-style: none;
}

blockquote>ul:last-child>li:nth-child(1)::before {
  content: "\2014";
  padding-right: 0.5em;
}

img {
  width: 45%;
  padding: 10pt;
  display: inline-block;
}

a.btn {
  color: blue;
  font-size: 110%;
  padding: 10pt;
  border-radius: 5pt;
  border: 2px solid blue;
}

a.btn-primary {
  background-color: blue;
  color: white;
}

main h1:first-child {
  padding: 20pt;
  text-align: center;
  font-style: italic;
  font-size: 300%;
  color: gray;
}

main h2:first-child {
  padding: 20pt;
  text-align: center;
  font-style: italic;
  font-size: 200%;
  color: lightgray;
}

a.btn:hover {
  color: blue;
}

a.btn-primary:hover {
  color: white;
}

/* 
.simple>li>a {
  color: white;
  background-color: blue;
  padding: 10pt;
  font-size: 125%;
  text-decoration: none;
  border-radius: 10pt;
  text-align: center;
  margin: 20% 50pt;
} */

.putty-card {
  height: 100%;
}

.putty-card .btn {
  width: 100%;
  border-color: gray;
  color: #222222;
}