{% if item.is_item %}
<li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{{ item.url }}"
    >
        {{ item.title.0 }}
    </a>
</li>
{% else %}
<li class="nav-item dropdown">
    <a
    class="nav-link dropdown-toggle"
    id="navbarDropdown"
    role="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
    >
    {{item.title}}
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        {% for i in item.items %}
            <li><a class="dropdown-item" href="{{i.url}}">{{ i.title.0 }}</a></li>
        {% endfor %}
    </ul>
</li>
{% endif %}