{% layout "dgtstatic/base.liquid" %}
{% block main_content %}
<section class="hero has-text-justified">
    <h1 class="title">Frequently Asked Questions</h1>
    <h2 class="subtitle">
        Here I mainly provide answers to the most frequently asked
        questions from recruiters and hiring managers in order to
        speed along the hiring process. The faster I can get
        onboarded, the faster you can make more money!
    </h2>
</section>

<section class="faqs">
    <h4>What's your background?</h4>
    <p>
        I have over 12 years software application development experience. To get an idea of how I can serve you and
your team, I invite you to check out the <a href="/software-skills">Software Skills</a> page.
    </p>
    <h4>Are you open to full-time work?</h4>
    <p>
        Absolutely. My time freelancing has given me an edge--I take ownership of projects and have a versatile
and broad range of technical expertise.
    </p>
    <h4>Are you open to part-time work?</h4>
    <p>
        Also, absolutely.
    </p>
    <h4>Are you ready to start immediately?</h4>
    <p>
        As of 2024/04/24, pretty much. I currently have a few stop-gap jobs I'm working, so I'll have to talk with my
employer(s) as far as when I can end the position.
    </p>
    <h4>What are your salary expectations?</h4>
    <p>
        Reasonable compesation. Remember, I'm not after your money. I'm after providing a solution for your company.
    </p>
    <h4>Where are you located?</h4>
    <p>
        Portland, OR
    </p>
    <h4>Are you willing to relocate?</h4>
    <p>
        Yes.
    </p>
    <h4>Are you willing to work remotely?</h4>
    <p>
        Yes. I've been working remotely for years, even before the pandemic. I'm used to it.
    </p>
    <h4>We're a start-up. Does that interest you?</h4>
    <p>
        If you have paying customers, yes. If you just have funding, possibly--reach out and I'll consider.
    </p>
    <h4>
        We're a fortune 500 company. Does that interest you?
    </h4>
    <p>
        Yes. I've been focusing on serving enteprrise clients for the past several years.
Just make sure your hiring process isn't a garbage pile.
    </p>
    <h4>
        Are you willing to take a coding challenge?
    </h4>
    <p>
        No. I
        <a href="https://medium.com/@damngoodtech">have</a>
        <a href="https://gitlab.com/srcrr">publicly</a>
        <a href="https://github.com/src-r-r">available</a>
        <a href="https://stackoverflow.com/users/8741467/dash2thedot">proof</a>
        <a href="/testimonials">of the value I can provide</a>.
        Do your due dilligence.
        If you're still unsure, let's start with a small freelance project.
    </p>
    <h4>
        What do you value? What culture do you want?
    </h4>
    <p>
        I value open communication, collaboration, and serving people. In the end, people is what matters.
    </p>
    <h4>
        Do you have any questions for me?
    </h4>
    <p>
        What is your current mission/vision/challenge? How can I help your team reach the next level?
    </p>
    <h4>
        Do you have a resume?
    </h4>
    <p>
        Yes. You can download my generic resume here:
        <a
            class="button is-small is-primary"
            href="https://drive.proton.me/urls/QP6NFWF2AM#7TwdaDVXQnIb">
            Download
        </a>
    </p>
    
</section>
{% endblock %}