{% layout "dgtstatic/base.liquid" %}

{% block page_title %}Freelance Hire - {% endblock %}

{% block "main_content" %}

<h1 class="title is-size-1">My Process</h1>

<p class="p-2 m-2">My process for getting hired on full time very straightforward:</p>

<div class="process box container">
    <div class="track"></div>
    <div class="step">
        <div class="number">
            1
        </div>
        <div class="description">
            <h3>Discovery call</h3>
            <p>This is a time when we discuss the state of your current product and where you'd like to take it. I'll ask lots of questions to determine how I can help.</p>
        </div>
    </div>
    <div class="step">
        <div class="number">
            1.5
        </div>
        <div class="description">
            <h3>Follow-Up (If Needed)</h3>
            <p>If needed, we'll schedule a follow-up call to discuss timeline, budget, and other estimates.</p>
        </div>
    </div>
    <div class="step">
        <div class="number">
            2
        </div>
        <div class="description">
            <h3>Start Work on the Project</h3>
            <p>I'll begin working on the project, communicating throught the course of development. If anything comes up, I'll be quick to let you know.</p>
        </div>
    </div>
    <div class="step">
        <div class="number">
            3
        </div>
        <div class="description">
            <h3>Wrap-Up</h3>
            <p>Because I provide frequent updates, there won't be a lot to correct upon delivery. However, we'll schedule a final call to discuss anything within the scope of the work that you think should be improved upon.</p>
        </div>
    </div>
</div>

<article class="box container info my-2">
    Of course, these steps are flexible. For example, if the project is
    ongoing then I'll be making frequent deployments.
</article>

<article class="box container info my-2">
    <h1 class="title p-2 has-text-centered">Ready to get started?</h1>
    <p class="subtitle">Please choose a platform to get started.</p>
    <div class="buttons p-4">
        <a class="button is-info" href="https://www.upwork.com/freelancers/~0105fc69312e2da97a">
            <span class="icon m-1">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mail" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z" />
                    <path d="M3 7l9 6l9 -6" />
                </svg>
            </span>
            <span class="m-1">
            B2B-style Contract
            </span>
        </a>
        <a class="button" href="https://www.upwork.com/freelancers/~0105fc69312e2da97a">
            <span class="icon m-1">
                <svg role="img" fill="white" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>Upwork</title><path d="M18.561 13.158c-1.102 0-2.135-.467-3.074-1.227l.228-1.076.008-.042c.207-1.143.849-3.06 2.839-3.06 1.492 0 2.703 1.212 2.703 2.703-.001 1.489-1.212 2.702-2.704 2.702zm0-8.14c-2.539 0-4.51 1.649-5.31 4.366-1.22-1.834-2.148-4.036-2.687-5.892H7.828v7.112c-.002 1.406-1.141 2.546-2.547 2.548-1.405-.002-2.543-1.143-2.545-2.548V3.492H0v7.112c0 2.914 2.37 5.303 5.281 5.303 2.913 0 5.283-2.389 5.283-5.303v-1.19c.529 1.107 1.182 2.229 1.974 3.221l-1.673 7.873h2.797l1.213-5.71c1.063.679 2.285 1.109 3.686 1.109 3 0 5.439-2.452 5.439-5.45 0-3-2.439-5.439-5.439-5.439z"/></svg>
            </span>
            <span class="m-1">
            Hire me on UpWork
            </span>
        </a>
        <a class="button" href="https://www.guru.com/freelancers/jordan-hewitt">
            <span class="icon m-1">
                <img src="https://img-guru.com/20240607.1/images/Guru-logo2.png" />
            </span>
            <span class="m-1">
            Hire me on Guru
            </span>
        </a>
        <a class="button" href="https://app.gun.io/app/freelancer/4d6bef1a-7f76-4b2e-98a8-1a485bf3aa05/">
            <span class="icon m-1">
                <img src="https://app.gun.io/site_media/static/assets/logo-text-af05ddac.svg" />
            </span>
            <span class="m-1">
            Hire me on Gun.io
            </span>
        </a>
    </div>
</article>

{% endblock %}