{% layout "dgtstatic/base.liquid" %}

{% block page_title %}Direct Hire - {% endblock %}

{% block "main_content" %}

<h1 class="title is-size-1">My Process</h1>

My process for getting hired on full time very straightforward:

<div class="process box container">
    <div class="track"></div>
    <div class="step">
        <div class="number">
            1
        </div>
        <div class="description">
            <h3>Discovery call</h3>
            <p>This is a time when we discuss the state of your current product and where you'd like to take it. I'll ask lots of questions to determine how I can help.</p>
        </div>
    </div>
    <div class="step">
        <div class="number">
            1.5
        </div>
        <div class="description">
            <h3>Follow-Up (If Needed)</h3>
            <p>If needed, we'll schedule a follow-up call to discuss timeline, budget, and other estimates.</p>
        </div>
    </div>
    <div class="step">
        <div class="number">
            2
        </div>
        <div class="description">
            <h3>Start Work on the Project</h3>
            <p>I'll begin working on the project, communicating throught the course of development. If anything comes up, I'll be quick to let you know.</p>
        </div>
    </div>
    <div class="step">
        <div class="number">
            3
        </div>
        <div class="description">
            <h3>Wrap-Up</h3>
            <p>Because I provide frequent updates, there won't be a lot to correct upon delivery. However, we'll schedule a final call to discuss anything within the scope of the work that you think should be improved upon.</p>
        </div>
    </div>
</div>

<article class="box container info">
    Of course, these steps are flexible. For example, if the project is
    ongoing then I'll be making frequent deployments.
</article>

{% endblock %}