{% layout "dgtstatic/base.liquid" %}

{% block page_title %}Direct Hire - {% endblock %}

{% block "main_content" %}

<h1 class="title is-size-1">My Process</h1>

My process for getting hired on full time very straightforward:

<ol class="process list">
    <li class="step">
        <div class="number">
            1
        </div>
        <div class="description">
            <h3>Initial call</h3>
        </div>
    </li>
    <li class="step">
        <div class="number">
            2
        </div>
        <div class="description">
            <h3>Initial call</h3>
        </div>
    </li>
</ol>

{% endblock %}