{% layout "dgtstatic/base.liquid" %}

{% block meta_description_prefix %}Jordan Hewitt's tech stack expertise. {% endblock %}
{% block page_title %}Software Skills - {% endblock %}

{% block main_content %}

<article>
<h1 class="title py-4">My Skills &amp; Experience</h1>

{% for section in skills.sections %}
    <section>
    <h2 class="subtitle is-size-4">{{section.title}}</h2>
    <div class="skill-cloud py-4">
        {% for skill in section.skills %}
            <span class="tag" id="skill-{{ skill.0 }}">{{ skill.1 }}</span>
        {% endfor %}
    </div>
    </section>
{% endfor %}


</article>

{% endblock %}