{% layout "dgtstatic/base.liquid" %}
{% block main_content %}

<article>
<h1 class="title">My Skills &amp; Experience</h1>

<section>
    <h2 class="title">
        <span class="icon">
            {% icon "player-play" %}
        </span>
        <span>General Tools</span>
    </h2>
    <div class="tags">
        <span class="tag">
            <span class="icon">{% icon "brand-git" "outline" %}</span>
            <span>Git Version Control</span>
        </span>
    </div>
</section>

<section>
    <h2 class="title">
        <span class="icon">
            {% icon "script" "outline" %}
        </span>
        <span>
        Scripts
        </span>
    </h2>
</section>


</article>

{% endblock %}